
   /* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, sans-serif;
}


   /* PAGE LAYOUT */

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  padding: 10px;
}


   /* CALCULATOR CONTAINER */

.calculator {
  background: #232633;
  padding: 20px;
  width: 100%;
  max-width: 450px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
}



   /* DISPLAY */

#display {
  width: 100%;
  height: 60px;
  border-radius: 12px;
  border: none;
  outline: none;
  background: #3c4270;
  color: #fff;
  font-size: 1.7rem;
  padding: 8px 14px;
  margin-top: 8px;
  text-align: right;
}


   /* BUTTON GRID */

.calculator-button {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 12px;
  margin-top: 12px;
}


.button-operator,
.button-equals {
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
}

  /* NUMBER BUTTONS  */

.button {
    width: 55px;
    height: 50px;
    border-radius: 40%;
    background: #42485f;
    color: #fff;
    font-size: 1.3rem;
    transition: transform 0.15s ease-out;
    border: none;
    cursor: pointer;
}

.button:hover {
  background-color: rgba(128, 128, 128, 0.189);
  transform: scale(1.1);
}

.button-operator:hover {
  background-color: #d89101da;
  transform: scale(1.1);
}

.button-equals:hover {
  background-color: #cac9c9da;
  transform: scale(1.1);
}

.button:active {
  transform: scale(1.15);
  border-radius: 40%;
}


   /* OPERATOR BUTTONS */

.button-operator {
  border-radius: 50%;
  background: #f4a300e5;
  color: #fff;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}


   /* EQUALS BUTTON */
 
.button-equals {
  border-radius: 50%;
  background-color: rgba(211, 211, 211, 0.861);
  color: black;
  font-size: 1.5rem;
  font-weight: 500;
}


   /* DELETE BUTTON */

.button[data-value="DEL"] {
    background: #42485f;
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
}


   /* PRESS EFFECT */

button:active {
  transform: scale(0.95);
}


   /* TABLETS */

@media (max-width: 768px) {
  .calculator {
    max-width: 360px;
    padding: 18px;
    box-sizing: border-box;
  }

  #display {
    height: 55px;
    font-size: 1.7rem;
  }

  .button {
    font-size: 1.3rem;
  }

  .button-operator {
    font-size: 1.5rem;
  }

  .button-equals {
    font-size: 1.5rem;
  }
}


   /* MOBILE PHONES */

@media (max-width: 480px) {
  .calculator {
    padding: 15px;
    box-sizing: border-box;
  }

  #display {
    height: 50px;
    font-size: 1.5rem;
    padding: 8px 12px;
  }

  .calculator-btn {
    gap: 8px;
  }

  .button {
    height: 42px;
    font-size: 1.2rem;
  }

  .button-operator {
    height: 42px;
    font-size: 1.4rem;
  }

  .button-equals {
    height: 42px;
    font-size: 1.4rem;
  }

  
}